<form method="POST" action="/posts/<%= @post.id%>">

  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="title">Post Title: </label>
  <input type="text" name="name" id="title" value="<%= @post.name %>">
  <br>
  <br>

  <label for="content">Post Content: </label>
  <br>
  <textarea name="content" id="content" rows="8" cols="80"><%= @post.content %></textarea>
  <br>
  <br>

  <input type="submit" id="submit">

</form>
