<label for="title">Post Title: </label>
<input type="text" name="name" id="title" value="<%= @post.name %>">
<br>
<br>

<label for="content">Post Content: </label>
<br>
<textarea name="content" id="content" value="<%= @post.content %>" rows="8" cols="80"></textarea>
<br>
<br>

<input type="submit" id="submit">
