<form action="/posts" method="post">
  <label> Name: <input type = "text" name = "name" id = "name"></label> <br>
  <label> Content: <input type = "text" name = "content" id = "content"> </label><br>
  <input type = "submit" id = "submit">
</form>
