<form action="/posts" method="post">
  <h2> <label for="name">Title Your Post!</label> </h2>
  <input type="text" name="name" id="name">
  <br>
  <h2> <label for="content">Write Your Post!</label> </h2>
  <textarea name="content" rows="8" cols="80" id="content"></textarea>
  <br>
  <input type="submit" name="submit" value="Post Your Post!" id="submit">
</form>
