<form action="/posts" method="post">
  <label>Name: <input type="text" name="name" id="name"> </label>
  <br><br>
  <label>Content: <textarea name="content" id="content"></textarea> </label>
  <br>
  <input type="submit" id="submit">
</form>
